<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.dao.ContactsMapper">
  <resultMap id="BaseResultMap" type="com.edu.domain.Contacts">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="ref" jdbcType="VARCHAR" property="ref" />
    <result column="adressid" jdbcType="INTEGER" property="adressid" />
    <result column="phonenum" jdbcType="VARCHAR" property="phonenum" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_contacts
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.edu.domain.Contacts">
    insert into t_contacts (id, no, name, 
      ref, adressid, phonenum, 
      flag)
    values (#{id,jdbcType=INTEGER}, #{no,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{ref,jdbcType=VARCHAR}, #{adressid,jdbcType=INTEGER}, #{phonenum,jdbcType=VARCHAR}, 
      #{flag,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.edu.domain.Contacts">
    update t_contacts
    set no = #{no,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      ref = #{ref,jdbcType=VARCHAR},
      adressid = #{adressid,jdbcType=INTEGER},
      phonenum = #{phonenum,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, no, name, ref, adressid, phonenum, flag
    from t_contacts
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, no, name, ref, adressid, phonenum, flag
    from t_contacts
  </select>
</mapper>